DATABASE_URL=your_database_url
APP_URL=your_app_url
PORT=port_number

BCRYPT_SALT_ROUNDS=your_BCRYPT_secret

JWT_ACCESS_SECRET=your_JWT_ACCESS_SECRET
JWT_REFRESH_SECRET=your_JWT_REFRESH_SECRET
JWT_ACCESS_EXPIRES_IN=your_JWT_ACCESS_EXPIRES_IN
JWT_REFRESH_EXPIRES_IN=your_JWT_REFRESH_EXPIRES_IN

STRIPE_PRODUCT_ID=your_STRIPE_PRODUCT_ID
STRIPE_SECRET_KEY=your_STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=your_STRIPE_WEBHOOK_SECRET